@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    5408 Milhouse Rd.<br />
    Indianapolis, IN 46221<br />
    <abbr title="Phone">P:</abbr>
    (317) 938-2798
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">wrightethan321@gmail.com</a><br />
</address>